<h1>MSU Operational and Memory Trials</h1>

<p>Thank you for completing the first part of the survey! This last part consists of two tests that are similar. You will be asked to remember some numbers while you do another task, such as working some simple math problems or evaluating some sentences. You should do your best to do both tasks to the best of your ability – both remembering the numbers and doing the math/evaluating sentences task. It is important to be as accurate as possible for both parts of each test.</p>

<p>The next screen will have specific instructions about the first test. Please click "Begin Survey" below to begin the next part of the survey.</p>

<%= button_to 'Begin Survey', surveys_new_path, method: :post %>

